:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;

  /* general settings */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #434455;
  background-color: #ffffff;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  color: #404bbf;
}
a:focus {
  color: #404bbf;
}
img {
  display: block;
}
button:hover {
  background-color: #404bbf;
}
button:focus {
  background-color: #404bbf;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.genel {
  background-color: #ffffff;
}
/* general settings */

/* header section */
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}
.header {
  border-bottom: 1px solid #e7e9fc;
  height: 72px;
}
.div-header {
  display: flex;
  height: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}
.header-nav-content {
  background-color: #ffffff;
  display: flex;
  align-items: center;
}
.header-logo-span {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--navy-blue);
}
.header-ul {
  display: flex;
  gap: 40px;
}
.header-li {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.address {
  font-style: normal;
}
.contact {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.logo-content {
  margin-right: 76px;
}
.address-li {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

/* header section end*/

/* slider section */
.slider {
  background-color: var(--navy-blue);
  padding: 188px 0;
}
.slider-title {
  max-width: 496px;
  color: var(--white);
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}
.slider-button {
  cursor: pointer;
  border-radius: 4px;
  border: none;
  height: 56px;
  min-width: 169px;
  margin: 0 auto;
  display: block;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.section-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

/* slider section end */

/* content section */
.content-section {
  padding: 120px 0;
}
.content-ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  gap: 24px;
}
.content-li {
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
}
.content-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.content-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* content section end */

/* our team section */
.our-team-section {
  padding: 120px 0;
  background-color: #f4f4fd;
}
.our-team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.our-team-list {
  display: flex;
  gap: 24px;
  flex-basis: calc((100% - 3 * 24px) / 4);
}
.our-team-list-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
}
.our-team-employee {
  padding: 32px 0;
}
.our-team-content {
  text-align: center;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.our-team-text {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* our team section end */

/* our portfolio section */

.our-portfolio {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--navy-blue);
  margin-bottom: 72px;
}
.our-portfolio-img {
  display: block;
  max-width: 100%;
  height: auto;
}
.our-portfolio-section {
  padding: 120px 0;
}
.our-portfolio-list {
  background: var(--white);
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.our-portfolio-li {
  width: calc((100% - 48px) / 3);
}
.our-portfolio-name {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.our-portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.our-portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* our portfolio section end */
.logo {
  margin-bottom: 16px;
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.liste {
  font-weight: 500;
  font-size: 16px;
  padding: 24px 0;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.baslik-iki {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.footer {
  background-color: #2e2f42;
  color: #2e2f42;
  padding: 100px 0;
}
.logo-span-iki {
  color: #f4f4fd;
}
.footer-text {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.div-margin {
  margin-bottom: 8px;
}
.li-content-update {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
}
.li-content-padding {
  padding: 24px 0;
}
.div-padding {
  padding: 32px 0;
}
